[user]
	name = Marques Johansson
	email = marques@displague.com
	signingkey = CF2B41F9641BC514131F053427717999E2D09AB6
	# signingkey = DB884A92
[color]
	ui = auto
[push]
	default = simple
[branch]
	autosetuprebase = always
[rerere]
	autoUpdate = true
	enabled = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[gpg]
	program = gpg
[tag]
	gpgsign = true
[commit]
	gpgSign = on
[format]
	signOff = on

