[user]
	name = Marques Johansson
	email = marques@displague.com
[color]
	ui = auto
[push]
	default = simple
[branch]
	autosetuprebase = always
[rerere]
	autoUpdate = true
	enabled = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
